studies/_corpora/BASE/xml/ls/base.dtd

<!-- DTD  generated by PizzaChef 1.4 for pid pizza23853 on 21 Nov 2002 -->

<!ELEMENT TEI.2 
	(teiHeader, text) >


<!ATTLIST TEI.2 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "TEI.2" >


<!ELEMENT teiCorpus.2 
	(teiHeader, TEI.2+) >


<!ATTLIST teiCorpus.2 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "teiCorpus.2" >


<!ELEMENT teiHeader 
	(fileDesc, encodingDesc*, profileDesc*, revisionDesc?) >


<!ATTLIST teiHeader 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "text"
	creator CDATA #IMPLIED
	status (new | update) "new"
	date.created CDATA #IMPLIED
	date.updated CDATA #IMPLIED
	TEIform CDATA "teiHeader" >


<!ELEMENT fileDesc 
	(titleStmt, editionStmt?, extent?, publicationStmt, seriesStmt?, 
	notesStmt?, sourceDesc+) >


<!ATTLIST fileDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fileDesc" >


<!ELEMENT titleStmt 
	(title+, (author | sponsor | funder | principal | respStmt)*) >


<!ATTLIST titleStmt 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "titleStmt" >


<!ELEMENT sponsor 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST sponsor 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "sponsor" >


<!ELEMENT funder 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST funder 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "funder" >


<!ELEMENT principal 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST principal 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "principal" >


<!ELEMENT editionStmt 
	((edition, respStmt*) | p+) >


<!ATTLIST editionStmt 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "editionStmt" >


<!ELEMENT edition 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST edition 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "edition" >


<!ELEMENT extent 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST extent 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "extent" >


<!ELEMENT publicationStmt 
	((p, (anchor | gap | link | linkGrp | timeline)*)+ | ((distributor 
	| authority | address | idno | availability | date), (anchor 
	| gap | link | linkGrp | timeline)*)+) >


<!ATTLIST publicationStmt 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publicationStmt" >


<!ELEMENT distributor 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST distributor 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "distributor" >


<!ELEMENT authority 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST authority 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "authority" >


<!ELEMENT idno 
	(#PCDATA) >


<!ATTLIST idno 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "idno" >


<!ELEMENT availability 
	(p)+ >


<!ATTLIST availability 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	status (free | unknown | restricted) "unknown"
	TEIform CDATA "availability" >


<!ELEMENT seriesStmt 
	((title+, (idno | respStmt)*) | p+) >


<!ATTLIST seriesStmt 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "seriesStmt" >


<!ELEMENT notesStmt 
	(note)+ >


<!ATTLIST notesStmt 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "notesStmt" >


<!ELEMENT sourceDesc 
	(p | scriptStmt | recordingStmt)+ >


<!ATTLIST sourceDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "sourceDesc" >


<!ELEMENT scriptStmt 
	(p)+ >


<!ATTLIST scriptStmt 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "scriptStmt" >


<!ELEMENT recordingStmt 
	(p+ | recording+) >


<!ATTLIST recordingStmt 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "recordingStmt" >


<!ELEMENT recording 
	(p+ | (respStmt | equipment | broadcast | date)*) >


<!ATTLIST recording 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	type (audio | video) "audio"
	dur CDATA #IMPLIED
	TEIform CDATA "recording" >


<!ELEMENT equipment 
	(p)+ >


<!ATTLIST equipment 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "equipment" >


<!ELEMENT broadcast 
	(p+ | recording) >


<!ATTLIST broadcast 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "broadcast" >


<!ELEMENT encodingDesc 
	(projectDesc*, samplingDecl*, editorialDecl*, tagsDecl?, 
	refsDecl*, classDecl*, metDecl*, fsdDecl*, variantEncoding*, 
	p*) >


<!ATTLIST encodingDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "encodingDesc" >


<!ELEMENT projectDesc 
	(p)+ >


<!ATTLIST projectDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "projectDesc" >


<!ELEMENT samplingDecl 
	(p)+ >


<!ATTLIST samplingDecl 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "samplingDecl" >


<!ELEMENT editorialDecl 
	(p+ | ((correction | normalization | quotation | hyphenation 
	| interpretation | segmentation | stdVals)+, p*)) >


<!ATTLIST editorialDecl 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "editorialDecl" >


<!ELEMENT correction 
	(p)+ >


<!ATTLIST correction 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	status (high | medium | low | unknown) "unknown"
	method (silent | tags) "silent"
	TEIform CDATA "correction" >


<!ELEMENT normalization 
	(p)+ >


<!ATTLIST normalization 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	source CDATA #IMPLIED
	method (silent | tags) "silent"
	TEIform CDATA "normalization" >


<!ELEMENT quotation 
	(p)+ >


<!ATTLIST quotation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	marks (none | some | all) "all"
	form (data | rend | std | nonstd | unknown) "unknown"
	TEIform CDATA "quotation" >


<!ELEMENT hyphenation 
	(p)+ >


<!ATTLIST hyphenation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	eol (all | some | none) "some"
	TEIform CDATA "hyphenation" >


<!ELEMENT segmentation 
	(p)+ >


<!ATTLIST segmentation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "segmentation" >


<!ELEMENT stdVals 
	(p)+ >


<!ATTLIST stdVals 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "stdVals" >


<!ELEMENT interpretation 
	(p)+ >


<!ATTLIST interpretation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "interpretation" >


<!ELEMENT tagsDecl 
	(rendition*, tagUsage*) >


<!ATTLIST tagsDecl 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "tagsDecl" >


<!ELEMENT tagUsage 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST tagUsage 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	gi CDATA #REQUIRED
	occurs CDATA #IMPLIED
	ident CDATA #IMPLIED
	render IDREF #IMPLIED
	TEIform CDATA "tagUsage" >


<!ELEMENT rendition 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST rendition 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "rendition" >


<!ELEMENT refsDecl 
	(p+ | step+ | state+) >


<!ATTLIST refsDecl 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	doctype CDATA "TEI.2"
	TEIform CDATA "refsDecl" >


<!ELEMENT step 
	EMPTY >


<!ATTLIST step 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	refunit CDATA #IMPLIED
	length CDATA #IMPLIED
	delim CDATA #IMPLIED
	from CDATA #REQUIRED
	to CDATA "DITTO"
	TEIform CDATA "step" >


<!ELEMENT state 
	EMPTY >


<!ATTLIST state 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	unit CDATA #REQUIRED
	length CDATA #IMPLIED
	delim CDATA #IMPLIED
	TEIform CDATA "state" >


<!ELEMENT classDecl 
	(taxonomy)+ >


<!ATTLIST classDecl 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "classDecl" >


<!ELEMENT taxonomy 
	(category)+ >


<!ATTLIST taxonomy 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "taxonomy" >


<!ELEMENT category 
	(catDesc, category*) >


<!ATTLIST category 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "category" >


<!ELEMENT catDesc 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | textDesc)* >


<!ATTLIST catDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "catDesc" >


<!ELEMENT fsdDecl 
	EMPTY >


<!ATTLIST fsdDecl 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #REQUIRED
	fsd ENTITY #REQUIRED
	TEIform CDATA "fsdDecl" >


<!ELEMENT metDecl 
	(((ab | l | p | figure | label | list | note | event | kinesic 
	| pause | shift | u | vocal | writing), (anchor | gap | 
	link | linkGrp | timeline)*)* | symbol+) >


<!ATTLIST metDecl 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	type CDATA "met real"
	pattern CDATA #IMPLIED
	TEIform CDATA "metDecl" >


<!ELEMENT symbol 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST symbol 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	terminal (Y | N) "Y"
	TEIform CDATA "symbol" >


<!ELEMENT variantEncoding 
	EMPTY >


<!ATTLIST variantEncoding 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	method (location-referenced | double-end-point | parallel-segmentation) #REQUIRED
	location (internal | external) #REQUIRED
	TEIform CDATA "variantEncoding" >


<!ELEMENT profileDesc 
	(creation?, langUsage*, textDesc*, particDesc*, settingDesc*, 
	textClass*) >


<!ATTLIST profileDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "profileDesc" >


<!ELEMENT creation 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST creation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "creation" >


<!ELEMENT langUsage 
	(p | language)+ >


<!ATTLIST langUsage 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "langUsage" >


<!ELEMENT language 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST language 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wsd ENTITY #IMPLIED
	usage CDATA #IMPLIED
	TEIform CDATA "language" >


<!ELEMENT textClass 
	(classCode | catRef | keywords)* >


<!ATTLIST textClass 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "textClass" >


<!ELEMENT keywords 
	(list) >


<!ATTLIST keywords 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "keywords" >


<!ELEMENT classCode 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST classCode 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "classCode" >


<!ELEMENT catRef 
	EMPTY >


<!ATTLIST catRef 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	scheme IDREF #IMPLIED
	TEIform CDATA "catRef" >


<!ELEMENT revisionDesc 
	(list | change+) >


<!ATTLIST revisionDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "revisionDesc" >


<!ELEMENT change 
	(date, respStmt+, item) >


<!ATTLIST change 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "change" >


<!ELEMENT p 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST p 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "p" >


<!ELEMENT hi 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST hi 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "hi" >


<!ELEMENT distinct 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST distinct 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	time CDATA #IMPLIED
	space CDATA #IMPLIED
	social CDATA #IMPLIED
	TEIform CDATA "distinct" >


<!ELEMENT name 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST name 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT date 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST date 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	value CDATA #IMPLIED
	certainty CDATA #IMPLIED
	TEIform CDATA "date" >


<!ELEMENT sic 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | ab | l | p | anchor | gap 
	| link | linkGrp | timeline)* >


<!ATTLIST sic 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	corr CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "sic" >


<!ELEMENT gap 
	EMPTY >


<!ATTLIST gap 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	desc CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp IDREF #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	extent CDATA #IMPLIED
	TEIform CDATA "gap" >


<!ELEMENT unclear 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | trunc | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST unclear 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	TEIform CDATA "unclear" >


<!ELEMENT address 
	((anchor | gap | link | linkGrp | timeline)*, ((addrLine, 
	(anchor | gap | link | linkGrp | timeline)*)+ | (name, (anchor 
	| gap | link | linkGrp | timeline)*)*)) >


<!ATTLIST address 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "address" >


<!ELEMENT addrLine 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST addrLine 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "addrLine" >


<!ELEMENT ptr 
	EMPTY >


<!ATTLIST ptr 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #REQUIRED
	TEIform CDATA "ptr" >


<!ELEMENT list 
	((anchor | gap | link | linkGrp | timeline)*, (head, (anchor 
	| gap | link | linkGrp | timeline)*)?, ((item, (anchor | 
	gap | link | linkGrp | timeline)*)* | (label, (anchor | 
	gap | link | linkGrp | timeline)*, item, (anchor | gap | 
	link | linkGrp | timeline)*)+)) >


<!ATTLIST list 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "simple"
	TEIform CDATA "list" >


<!ELEMENT item 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | ab | l | p | anchor | gap 
	| link | linkGrp | timeline)* >


<!ATTLIST item 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "item" >


<!ELEMENT label 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST label 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "label" >


<!ELEMENT head 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST head 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "head" >


<!ELEMENT note 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | ab | l | p | anchor | gap 
	| link | linkGrp | timeline)* >


<!ATTLIST note 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	place CDATA "unspecified"
	anchored (yes | no) "yes"
	target IDREFS #IMPLIED
	targetEnd IDREFS #IMPLIED
	TEIform CDATA "note" >


<!ELEMENT author 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST author 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "author" >


<!ELEMENT respStmt 
	(resp | name | anchor | gap | link | linkGrp | timeline)+ >


<!ATTLIST respStmt 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "respStmt" >


<!ELEMENT resp 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST resp 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "resp" >


<!ELEMENT title 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST title 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	level (a | m | j | s | u) #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "title" >


<!ELEMENT l 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST l 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "l" >


<!ELEMENT u 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | event 
	| kinesic | pause | reading | shift | trunc | u | vocal | writing | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST u 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	start IDREF #IMPLIED
	end IDREF #IMPLIED
	dur CDATA #IMPLIED
	decls IDREFS #IMPLIED
	trans (smooth | latching | overlap | pause) "smooth"
	who IDREFS #IMPLIED
	TEIform CDATA "u" >


<!ELEMENT pause 
	EMPTY >


<!ATTLIST pause 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	start IDREF #IMPLIED
	end IDREF #IMPLIED
	dur CDATA #IMPLIED
	type CDATA #IMPLIED
	who IDREF #IMPLIED
	TEIform CDATA "pause" >


<!ELEMENT vocal 
	EMPTY >


<!ATTLIST vocal 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	start IDREF #IMPLIED
	end IDREF #IMPLIED
	dur CDATA #IMPLIED
	who IDREF #IMPLIED
	iterated (y | n | u) "n"
	desc CDATA #IMPLIED
	TEIform CDATA "vocal" >


<!ELEMENT kinesic 
	EMPTY >


<!ATTLIST kinesic 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	start IDREF #IMPLIED
	end IDREF #IMPLIED
	dur CDATA #IMPLIED
	who IDREF #IMPLIED
	iterated (y | n | u) "n"
	desc CDATA #IMPLIED
	TEIform CDATA "kinesic" >


<!ELEMENT event 
	EMPTY >


<!ATTLIST event 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	start IDREF #IMPLIED
	end IDREF #IMPLIED
	dur CDATA #IMPLIED
	who IDREF #IMPLIED
	iterated (y | n | u) "n"
	desc CDATA #IMPLIED
	TEIform CDATA "event" >


<!ELEMENT writing 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST writing 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	who IDREF #IMPLIED
	type CDATA #IMPLIED
	script IDREF #IMPLIED
	gradual (y | n | u) #IMPLIED
	TEIform CDATA "writing" >

<!ELEMENT reading 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | shift | text | anchor | gap | link | linkGrp 
	| pause | vocal | event | kinesic | trunc | timeline)* >


<!ATTLIST reading 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	who IDREF #IMPLIED
	type CDATA #IMPLIED
	script IDREF #IMPLIED
	gradual (y | n | u) #IMPLIED
	TEIform CDATA "reading" >


<!ELEMENT trunc 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST trunc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	who IDREF #IMPLIED
	type CDATA #IMPLIED
	script IDREF #IMPLIED
	gradual (y | n | u) #IMPLIED
	TEIform CDATA "trunc" >


<!ELEMENT shift 
	EMPTY >


<!ATTLIST shift 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	who IDREF #IMPLIED
	feature (tempo | loud | pitch | tension | rhythm | voice) #REQUIRED
	new CDATA "normal"
	TEIform CDATA "shift" >


<!ELEMENT text 
	((anchor | gap | link | linkGrp | timeline)*, (front, (anchor 
	| gap | link | linkGrp | timeline)*)?, body, (anchor | gap 
	| link | linkGrp | timeline)*, (back, (anchor | gap | link 
	| linkGrp | timeline)*)?) >


<!ATTLIST text 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "text" >


<!ELEMENT body 
	((head | anchor | gap | link | linkGrp | timeline)*, ((((ab 
	| l | p | figure | label | list | note | event | kinesic 
	| pause | shift | u | vocal | writing), (anchor | gap | 
	link | linkGrp | timeline)*)+, (div, (div | anchor | gap 
	| link | linkGrp | timeline)*)?) | (div, (div | anchor | 
	gap | link | linkGrp | timeline)*))) >


<!ATTLIST body 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "body" >


<!ELEMENT div 
	((head | anchor | gap | link | linkGrp | timeline)*, ((div, 
	(anchor | gap | link | linkGrp | timeline)*)+ | (((ab | 
	l | p | figure | label | list | note | event | kinesic | 
	pause | shift | u | vocal | writing), (anchor | gap | link 
	| linkGrp | timeline)*)+, (div, (anchor | gap | link | linkGrp 
	| timeline)*)*))) >


<!ATTLIST div 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div" >


<!ELEMENT front 
	((anchor | gap | link | linkGrp | timeline)*, ((head, (head 
	| anchor | gap | link | linkGrp | timeline)*) | (div, (div 
	| anchor | gap | link | linkGrp | timeline)*))?) >


<!ATTLIST front 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "front" >


<!ELEMENT back 
	((anchor | gap | link | linkGrp | timeline)*, ((head, (head 
	| anchor | gap | link | linkGrp | timeline)*) | (div, (div 
	| anchor | gap | link | linkGrp | timeline)*))?) >


<!ATTLIST back 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "back" >


<!ELEMENT link 
	EMPTY >


<!ATTLIST link 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	targets IDREFS #REQUIRED
	TEIform CDATA "link" >


<!ELEMENT linkGrp 
	(link | ptr | xptr)+ >


<!ATTLIST linkGrp 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	domains IDREFS #IMPLIED
	targFunc NMTOKENS #IMPLIED
	TEIform CDATA "linkGrp" >


<!ELEMENT xref 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST xref 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xref" >


<!ELEMENT xptr 
	EMPTY >


<!ATTLIST xptr 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xptr" >


<!ELEMENT anchor 
	EMPTY >


<!ATTLIST anchor 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "anchor" >


<!ELEMENT seg 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST seg 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	subtype CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT ab 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST ab 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "ab" >


<!ELEMENT when 
	EMPTY >


<!ATTLIST when 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	absolute CDATA #IMPLIED
	unit CDATA #IMPLIED
	interval CDATA #IMPLIED
	since IDREF #IMPLIED
	TEIform CDATA "when" >


<!ELEMENT timeline 
	(when)+ >


<!ATTLIST timeline 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	origin IDREF #REQUIRED
	unit NMTOKEN #IMPLIED
	interval CDATA #IMPLIED
	TEIform CDATA "timeline" >


<!ELEMENT formula 
	(#PCDATA) >


<!ATTLIST formula 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	notation CDATA #REQUIRED
	TEIform CDATA "formula" >


<!ELEMENT figure 
	((anchor | gap | link | linkGrp | timeline)*, (head, (anchor 
	| gap | link | linkGrp | timeline)*)?, (p, (anchor | gap 
	| link | linkGrp | timeline)*)*, (figDesc, (anchor | gap 
	| link | linkGrp | timeline)*)?, (text, (anchor | gap | 
	link | linkGrp | timeline)*)?) >


<!ATTLIST figure 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	entity ENTITY #IMPLIED
	TEIform CDATA "figure" >


<!ELEMENT figDesc 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | figure 
	| label | list | note | text | anchor | gap | link | linkGrp 
	| timeline)* >


<!ATTLIST figDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "figDesc" >


<!ELEMENT textDesc 
	(channel, constitution, derivation, domain, factuality, 
	interaction, preparedness, purpose+) >


<!ATTLIST textDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "textDesc" >


<!ELEMENT particDesc 
	(p+ | ((person | personGrp)+, particLinks?)) >


<!ATTLIST particDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "particDesc" >


<!ELEMENT settingDesc 
	(p+ | setting+) >


<!ATTLIST settingDesc 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "settingDesc" >


<!ELEMENT channel 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST channel 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	mode (s | w | ws | sw | m | x) "x"
	TEIform CDATA "channel" >


<!ELEMENT constitution 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST constitution 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type (single | composite | frags | unknown) "single"
	TEIform CDATA "constitution" >


<!ELEMENT derivation 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST derivation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "derivation" >


<!ELEMENT domain 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST domain 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "domain" >


<!ELEMENT factuality 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST factuality 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type (fiction | fact | mixed | inapplicable) #IMPLIED
	TEIform CDATA "factuality" >


<!ELEMENT interaction 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST interaction 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type (none | partial | complete | inapplicable) #IMPLIED
	active CDATA #IMPLIED
	passive CDATA #IMPLIED
	TEIform CDATA "interaction" >


<!ELEMENT preparedness 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST preparedness 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "preparedness" >


<!ELEMENT purpose 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST purpose 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	degree (high | medium | low | unknown) #IMPLIED
	TEIform CDATA "purpose" >


<!ELEMENT person 
	(p+ | (affiliation | birth | education | firstLang | langKnown 
	| occupation | residence | socecStatus)*) >


<!ATTLIST person 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA #IMPLIED
	sex (m | f | u) #IMPLIED
	age CDATA #IMPLIED
	TEIform CDATA "person" >


<!ELEMENT personGrp 
	(p+ | (affiliation | birth | education | firstLang | langKnown 
	| occupation | residence | socecStatus)*) >


<!ATTLIST personGrp 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA #IMPLIED
	sex (m | f | u | x) #IMPLIED
	age CDATA #IMPLIED
	size CDATA #IMPLIED
	TEIform CDATA "personGrp" >


<!ELEMENT birth 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST birth 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	date CDATA #IMPLIED
	TEIform CDATA "birth" >


<!ELEMENT firstLang 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST firstLang 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "firstLang" >


<!ELEMENT langKnown 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST langKnown 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "langKnown" >


<!ELEMENT residence 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST residence 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "residence" >


<!ELEMENT education 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST education 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "education" >


<!ELEMENT affiliation 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST affiliation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "affiliation" >


<!ELEMENT occupation 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST occupation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	code IDREF #IMPLIED
	TEIform CDATA "occupation" >


<!ELEMENT socecStatus 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST socecStatus 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	code IDREF #IMPLIED
	TEIform CDATA "socecStatus" >


<!ELEMENT particLinks 
	(p+ | relation+) >


<!ATTLIST particLinks 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "particLinks" >


<!ELEMENT relation 
	EMPTY >


<!ATTLIST relation 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "personal"
	desc CDATA #IMPLIED
	active IDREFS #IMPLIED
	passive IDREFS #IMPLIED
	mutual (Y | N) "Y"
	TEIform CDATA "relation" >


<!ELEMENT setting 
	(p+ | (name | date | locale | activity)*) >


<!ATTLIST setting 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	who IDREFS #IMPLIED
	TEIform CDATA "setting" >


<!ELEMENT locale 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST locale 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "locale" >


<!ELEMENT activity 
	(#PCDATA | address | date | name | sic | unclear | formula 
	| distinct | hi | title | ptr | xptr | xref | seg | anchor 
	| gap | link | linkGrp | timeline)* >


<!ATTLIST activity 
	corresp IDREFS #IMPLIED
	synch IDREFS #IMPLIED
	sameAs IDREF #IMPLIED
	copyOf IDREF #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	exclude IDREFS #IMPLIED
	select IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "activity" >

<!ENTITY % HTMLlat1 "-//W3C//ENTITIES Latin 1//EN//HTML">
<!ENTITY Agrave "&#192;"> <!-- latin capital letter A with grave
                                  = latin capital letter A grave,
                                  U+00C0 ISOlat1 -->
<!ENTITY Aacute "&#193;"> <!-- latin capital letter A with acute,
                                  U+00C1 ISOlat1 -->
<!ENTITY Acirc  "&#194;"> <!-- latin capital letter A with circumflex,
                                  U+00C2 ISOlat1 -->
<!ENTITY Atilde "&#195;"> <!-- latin capital letter A with tilde,
                                  U+00C3 ISOlat1 -->
<!ENTITY Auml   "&#196;"> <!-- latin capital letter A with diaeresis,
                                  U+00C4 ISOlat1 -->
<!ENTITY Aring  "&#197;"> <!-- latin capital letter A with ring above
                                  = latin capital letter A ring,
                                  U+00C5 ISOlat1 -->
<!ENTITY AElig  "&#198;"> <!-- latin capital letter AE
                                  = latin capital ligature AE,
                                  U+00C6 ISOlat1 -->
<!ENTITY Ccedil "&#199;"> <!-- latin capital letter C with cedilla,
                                  U+00C7 ISOlat1 -->
<!ENTITY Egrave "&#200;"> <!-- latin capital letter E with grave,
                                  U+00C8 ISOlat1 -->
<!ENTITY Eacute "&#201;"> <!-- latin capital letter E with acute,
                                  U+00C9 ISOlat1 -->
<!ENTITY Ecirc  "&#202;"> <!-- latin capital letter E with circumflex,
                                  U+00CA ISOlat1 -->
<!ENTITY Euml   "&#203;"> <!-- latin capital letter E with diaeresis,
                                  U+00CB ISOlat1 -->
<!ENTITY Igrave "&#204;"> <!-- latin capital letter I with grave,
                                  U+00CC ISOlat1 -->
<!ENTITY Iacute "&#205;"> <!-- latin capital letter I with acute,
                                  U+00CD ISOlat1 -->
<!ENTITY Icirc  "&#206;"> <!-- latin capital letter I with circumflex,
                                  U+00CE ISOlat1 -->
<!ENTITY Iuml   "&#207;"> <!-- latin capital letter I with diaeresis,
                                  U+00CF ISOlat1 -->
<!ENTITY Ntilde "&#209;"> <!-- latin capital letter N with tilde,
                                  U+00D1 ISOlat1 -->
<!ENTITY Ograve "&#210;"> <!-- latin capital letter O with grave,
                                  U+00D2 ISOlat1 -->
<!ENTITY Oacute "&#211;"> <!-- latin capital letter O with acute,
                                  U+00D3 ISOlat1 -->
<!ENTITY Ocirc  "&#212;"> <!-- latin capital letter O with circumflex,
                                  U+00D4 ISOlat1 -->
<!ENTITY Otilde "&#213;"> <!-- latin capital letter O with tilde,
                                  U+00D5 ISOlat1 -->
<!ENTITY Ouml   "&#214;"> <!-- latin capital letter O with diaeresis,
                                  U+00D6 ISOlat1 -->
<!ENTITY Oslash "&#216;"> <!-- latin capital letter O with stroke
                                  = latin capital letter O slash,
                                  U+00D8 ISOlat1 -->
<!ENTITY Ugrave "&#217;"> <!-- latin capital letter U with grave,
                                  U+00D9 ISOlat1 -->
<!ENTITY Uacute "&#218;"> <!-- latin capital letter U with acute,
                                  U+00DA ISOlat1 -->
<!ENTITY Ucirc  "&#219;"> <!-- latin capital letter U with circumflex,
                                  U+00DB ISOlat1 -->
<!ENTITY Uuml   "&#220;"> <!-- latin capital letter U with diaeresis,
                                  U+00DC ISOlat1 -->
<!ENTITY Yacute "&#221;"> <!-- latin capital letter Y with acute,
                                  U+00DD ISOlat1 -->
<!ENTITY szlig  "&#223;"> <!-- latin small letter sharp s = ess-zed,
                                  U+00DF ISOlat1 -->
<!ENTITY agrave "&#224;"> <!-- latin small letter a with grave
                                  = latin small letter a grave,
                                  U+00E0 ISOlat1 -->
<!ENTITY aacute "&#225;"> <!-- latin small letter a with acute,
                                  U+00E1 ISOlat1 -->
<!ENTITY acirc  "&#226;"> <!-- latin small letter a with circumflex,
                                  U+00E2 ISOlat1 -->
<!ENTITY atilde "&#227;"> <!-- latin small letter a with tilde,
                                  U+00E3 ISOlat1 -->
<!ENTITY auml   "&#228;"> <!-- latin small letter a with diaeresis,
                                  U+00E4 ISOlat1 -->
<!ENTITY aring  "&#229;"> <!-- latin small letter a with ring above
                                  = latin small letter a ring,
                                  U+00E5 ISOlat1 -->
<!ENTITY aelig  "&#230;"> <!-- latin small letter ae
                                  = latin small ligature ae, U+00E6 ISOlat1 -->
<!ENTITY ccedil "&#231;"> <!-- latin small letter c with cedilla,
                                  U+00E7 ISOlat1 -->
<!ENTITY egrave "&#232;"> <!-- latin small letter e with grave,
                                  U+00E8 ISOlat1 -->
<!ENTITY eacute "&#233;"> <!-- latin small letter e with acute,
                                  U+00E9 ISOlat1 -->
<!ENTITY ecirc  "&#234;"> <!-- latin small letter e with circumflex,
                                  U+00EA ISOlat1 -->
<!ENTITY euml   "&#235;"> <!-- latin small letter e with diaeresis,
                                  U+00EB ISOlat1 -->
<!ENTITY igrave "&#236;"> <!-- latin small letter i with grave,
                                  U+00EC ISOlat1 -->
<!ENTITY iacute "&#237;"> <!-- latin small letter i with acute,
                                  U+00ED ISOlat1 -->
<!ENTITY icirc  "&#238;"> <!-- latin small letter i with circumflex,
                                  U+00EE ISOlat1 -->
<!ENTITY iuml   "&#239;"> <!-- latin small letter i with diaeresis,
                                  U+00EF ISOlat1 -->
<!ENTITY ntilde "&#241;"> <!-- latin small letter n with tilde,
                                  U+00F1 ISOlat1 -->
<!ENTITY ograve "&#242;"> <!-- latin small letter o with grave,
                                  U+00F2 ISOlat1 -->
<!ENTITY oacute "&#243;"> <!-- latin small letter o with acute,
                                  U+00F3 ISOlat1 -->
<!ENTITY ocirc  "&#244;"> <!-- latin small letter o with circumflex,
                                  U+00F4 ISOlat1 -->
<!ENTITY otilde "&#245;"> <!-- latin small letter o with tilde,
                                  U+00F5 ISOlat1 -->
<!ENTITY ouml   "&#246;"> <!-- latin small letter o with diaeresis,
                                  U+00F6 ISOlat1 -->
<!ENTITY oslash "&#248;"> <!-- latin small letter o with stroke,
                                  = latin small letter o slash,
                                  U+00F8 ISOlat1 -->
<!ENTITY ugrave "&#249;"> <!-- latin small letter u with grave,
                                  U+00F9 ISOlat1 -->
<!ENTITY uacute "&#250;"> <!-- latin small letter u with acute,
                                  U+00FA ISOlat1 -->
<!ENTITY ucirc  "&#251;"> <!-- latin small letter u with circumflex,
                                  U+00FB ISOlat1 -->
<!ENTITY uuml   "&#252;"> <!-- latin small letter u with diaeresis,
                                  U+00FC ISOlat1 -->
<!ENTITY yacute "&#253;"> <!-- latin small letter y with acute,
                                  U+00FD ISOlat1 -->
<!ENTITY yuml   "&#255;"> <!-- latin small letter y with diaeresis,
                                  U+00FF ISOlat1 -->
